<footer class="bg-dark-blue ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/empower_whitey.png" alt="Empower logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Request Information:</p>
			<p></p>

			{{ partial "newsletter-form" . }}

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Empower Academics</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/subjects" class="link">Subjects</a></li>
					<li><a href="/packages" class="link">Packages</a></li>
					<li><a href="/FAQs" class="link">FAQs</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div class=>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
