<div class="bg-grey-1 pv4">
	<div class="ph3 mw7 center">
		<div class="flex-l mhn2-l">
			<div class="w-40-l ph2-l">
				<h2 class="f2 b lh-title mb2">{{.heading}}</h2>
				<p>{{.text}}</p>
				<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
				<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

				  <div class="autoplay">
						<div><img src="img/bookstack.jpg"/></div>
	  				<div><img src="img/colored_pencils.jpg"/></div>
	  				<div><img src="img/quadratic.jpg"/></div>
				  </div>

				  <script type="text/javascript">
				    $(document).ready(function(){
				      $('.autoplay').slick({
  						slidesToShow: 1,
  						slidesToScroll: 1,
  						autoplay: true,
  						autoplaySpeed: 2000,
				      });
				    });
				  </script>

			</div>
			</div>
		</div>
</div>
